<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>913616998470-7tamna1lh96e5jk7j3i0cbs7ho1mibvf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913616998470-7tamna1lh96e5jk7j3i0cbs7ho1mibvf</string>
	<key>API_KEY</key>
	<string>AIzaSyCjnTmqZL1yrr6hgCSZaNdC2fwepGC_oK4</string>
	<key>GCM_SENDER_ID</key>
	<string>913616998470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterApp.mynotes</string>
	<key>PROJECT_ID</key>
	<string>dp-flutter-project</string>
	<key>STORAGE_BUCKET</key>
	<string>dp-flutter-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913616998470:ios:c86ca6a8219e341af5ba47</string>
</dict>
</plist>